@use "../../abstracts/index" as *;

main {
	.map {
		margin: 48px 0;

		.container {
			iframe {
				width: 100%;
				height: 480px;
				border: none;
				margin: 24px 0;
			}

			h3 {
				margin-bottom: 16px;
			}

			.show-more {
				margin-top: 16px;
				cursor: pointer;
				width: fit-content;

				a,
				span {
					font-weight: bold;
					color: black;
				}
			}
		}
	}
}
