@use "../../abstracts/index" as *;

@forward "./info-and-hostImg";
@forward "./offer-info";
@forward "./aircover";
@forward "./offer-description";
@forward "./sleep-option";
@forward "./place-offers";
@forward "./booking";
@forward "./reserve-box";

main {
	.multiple-main-sections {
		.container {
			@include flexContainer(row, flex-start, flex-start);

			.left-content {
				width: 60%;

				.container {
					width: 100%;
				}
			}

			.right-content {
				width: 40%;
			}
		}
	}
}

@media (max-width: 768px) {
	main {
		.multiple-main-sections {
			.container {
				@include flexContainer(column, flex-start, flex-start);

				.left-content,
				.right-content {
					width: 100%;

					.container {
						width: 100%;
					}

					// border: 1px solid black;
				}

				.right-content {
					@include flexContainer(column, flex-start, center);
					height: auto;
					margin: 0 0 24px 0;
				}
			}
		}
	}
}
