@use "./components/container";
@use "./components/header";
@use "./components/main";
@use "./components/footer";

* {
	margin: 0;
	padding: 0;
}

body {
	// font-family: "Montserrat", sans-serif;
	font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
		"Helvetica Neue", sans-serif !important;

	height: 2000px;
}

.hr-div {
	width: 100%;
	border-top: 1px solid rgb(221, 221, 221);
}

.unselectable {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.wrapper {
	margin: auto;
}
