$primaryColor: #ff385c !important;
$grayColor: rgb(232, 232, 232) !important;
$hoverGrayColor: rgb(246, 246, 246) !important;
$iconColor: rgb(90, 90, 90) !important;
$blackColor: #222222 !important;
$linkColor: rgb(34, 34, 34) !important;
