@use "../abstracts/index" as *;

footer {
	width: 100%;
	background-color: #f7f7f7;
	border-top: 1px solid lightgray;

	.container {
		padding: 48px 0;
	}

	.location-options {
		.container {
			@include flexContainer(column, center, flex-start);

			.options {
				@include flexContainer(row, flex-start, center);

				flex-wrap: wrap;
				min-height: 120px;
				margin: 48px 0 24px 0;

				.option {
					width: 284px;
					height: 40px;

					a {
						text-decoration: none;
						color: #717171;
					}
				}
			}

			.nav-breadcrumb {
				a {
					font-size: 0.9rem;
					text-decoration: none;
					color: black;

					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
	}

	.footer-links {
		.container {
			@include flexContainer(row, flex-start, flex-start);

			gap: 25px;
			flex-wrap: wrap;

			.support,
			.community,
			.hosting,
			.airbnb {
				@include flexContainer(column, flex-start, flex-start);
				gap: 20px;
				width: 262px;

				.links {
					@include flexContainer(column, flex-start, flex-start);
					gap: 20px;
					font-size: 0.9rem;

					a {
						text-decoration: none;
						color: $linkColor;

						&:hover {
							text-decoration: underline;
						}
					}
				}
			}
		}
	}

	.footer-menu {
		.container {
			@include flexContainer(row, space-between, center);
			border-top: 1px solid $grayColor;
			padding: 24px 0;

			a {
				text-decoration: none;
				color: black;

				&:hover {
					cursor: pointer;
					text-decoration: underline;
				}
			}

			.left-menu {
				font-size: 0.9rem;
			}

			.right-menu {
				@include flexContainer(row, flex-end, center);
				gap: 30px;

				.language {
					@include flexContainer(row, flex-end, center);
					gap: 10px;

					.fa-globe {
						cursor: pointer;
					}
				}

				.social-media {
					@include flexContainer(row, flex-end, center);
					gap: 25px;

					.fa-facebook-f,
					.fa-twitter,
					.fa-instagram-square {
						font-size: 20px;
						&:hover {
							cursor: pointer;
						}
					}
				}
			}
		}
	}

	.mobile-footer {
		display: none;
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 80px;
		background-color: white;

		border-top: 1px solid $grayColor;

		.container {
			@include flexContainer(row, center, center);
			padding: 0 !important;
			width: 95%;

			.price,
			.reserve {
				flex: 1;
			}

			.price {
				@include flexContainer(column, center, flex-start);

				a {
					color: rgb(34, 34, 34);
				}
			}

			.reserve {
				flex: 1;

				@include flexContainer(row, flex-end, center);

				.reserve-btn {
					border-radius: 8px;
					color: white;
					font-weight: bold;
					text-align: center;
					border: 1px solid green;
					padding: 14px 24px;
					background: linear-gradient(
						to right,
						rgb(230, 30, 77) 0%,
						rgb(227, 28, 95) 50%,
						rgb(215, 4, 102) 100%
					) !important;
				}
			}
		}
	}
}

@media (max-width: 1350px) {
	footer {
		.location-options {
			.container {
				.options {
					.option {
						width: 150px;
					}
				}
			}
		}

		.footer-links {
			.container {
				gap: 20px !important;

				.support,
				.community,
				.hosting,
				.airbnb {
					width: 100%;
					border-bottom: 1px solid $grayColor;
					padding-bottom: 20px;

					.links {
						flex-direction: row !important;
						flex-wrap: wrap !important;
						justify-content: flex-start !important;
						gap: 15px 50px !important;
					}
				}

				.airbnb {
					border: none !important;
					padding-bottom: 0 !important;
				}
			}
		}
	}
}

@media (max-width: 1420px) {
	footer {
		.location-options {
			.container {
				.options {
					.option {
						width: 262px;
					}
				}
			}
		}

		.footer-links {
			.container {
				gap: 0;
			}
		}
	}
}

@media (max-width: 1250px) {
	footer {
		.container {
			width: 90%;
		}
	}
}

@media (max-width: 1100px) {
	footer {
		.footer-menu {
			.container {
				@include flexContainer(column, center, center);
				gap: 10px;
				text-align: center;
			}
		}
	}
}

@media (max-width: 900px) {
	footer {
		.container {
			width: 95%;
		}
	}
}

@media (max-width: 600px) {
	footer {
		.footer-links {
			.container {
				.support,
				.community,
				.hosting,
				.airbnb {
					.links {
						flex-direction: column !important;
					}
				}
			}
		}
	}
}

@media (max-width: 768px) {
	footer {
		.footer-menu {
			margin-bottom: 80px;
		}
		.mobile-footer {
			display: block;
		}
	}
}
