@forward "./sections/heading-and-images";
@forward "./sections/multiple-main-sections";
@forward "./sections/reviews";
@forward "./sections/map";
@forward "./sections/host-info";
@forward "./sections/things-to-know";

main {
	margin-top: 80px;
}

@media (max-width: 1250px) {
	main {
		.container {
			width: 90%;
		}
	}
}

@media (max-width: 900px) {
	main {
		.container {
			width: 95%;
		}
	}
}
