.filters {
	margin-top: 20px;
	margin-bottom: 20px;
	padding-top: 5px;

	position: sticky;
	top: 81px;

	background-color: white;

	box-shadow: none;

	z-index: 1;
}

/* Not working */
/* html:not([data-scroll='0']) .filters {
	box-shadow: 0 1px 2px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 5%);
} */

.shadow {
	box-shadow: 0 1px 2px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 5%);
}

.active {
	opacity: 1;
	border-bottom: 2px solid black;
}

.filters .container {
	display: flex;
	justify-content: space-between;
}

.filters .chips {
	display: flex;
	gap: 30px;
	overflow-x: hidden;

	position: relative;
}

.fadeout0,
.fadeout1,
.fadeout2,
.fadeout3,
.fadeout4,
.fadeout5,
.fadeout6,
.fadeout7,
.fadeout8,
.fadeout9,
.fadeout10 {
	position: absolute;
	height: 100%;
	width: 7px;
	right: 0;
	opacity: 1;
	background-color: white;
}

.fadeout1 {
	right: 7px;
	opacity: 0.9;
}

.fadeout2 {
	right: 14px;
	opacity: 0.8;
}

.fadeout3 {
	right: 21px;
	opacity: 0.7;
}

.fadeout4 {
	right: 28px;
	opacity: 0.6;
}

.fadeout5 {
	right: 35px;
	opacity: 0.5;
}

.fadeout6 {
	right: 42px;
	opacity: 0.4;
}

.fadeout7 {
	right: 49px;
	opacity: 0.3;
}

.fadeout8 {
	right: 56px;
	opacity: 0.2;
}

.fadeout9 {
	right: 63px;
	opacity: 0.1;
}

.fadeout10 {
	right: 70px;
	opacity: 0;
}

.filters .btns {
	display: flex;
	gap: 20px;
}

.chip {
	display: flex;
	flex-direction: column;

	justify-content: center;
	align-items: center;

	opacity: 0.7;
	transition: opacity 0.2s ease;

	cursor: pointer;
}

.chip img {
	max-width: 25px;
}

.chip p {
	margin: 10px 0 5px 0;
	text-align: center;
	font-size: 14px;
}

.chip:hover:not(.active) {
	border-bottom: 2px solid #dddddd;
	opacity: 1;
}

.more-chips {
	display: flex;
	align-items: center;
	margin-top: -7px;
}

.fa-angle-right {
	/* border: 1px solid #dddddd; */
	border: 1px solid gray;
	padding: 6px 10px;
	/* margin-left: 5px; */
	border-radius: 100%;
}

.filter-btn button:hover {
	cursor: pointer;
	transform: translateY(-1px);
	transition: box-shadow 0.2s ease;
	box-shadow: 0 1px 2px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 5%);
}

.fa-angle-right:hover {
	cursor: pointer;
	transform: translateY(-1px);
	transition: box-shadow 0.2s ease;
	box-shadow: rgb(0 0 0 / 16%) 0 0 10px;
}

.filter-btn {
	display: flex;
	align-items: center;
	margin-top: -7px;
}

.filter-btn button {
	display: flex;
	gap: 8px;
	height: 50px;
	padding: 15px;
	background-color: inherit;
	border: 1px solid #dddddd;
	border-radius: 15px;
}
