.filters {
	margin-top: 20px;
	margin-bottom: 20px;
	padding-top: 5px;

	position: sticky;
	top: 81px;

	background-color: white;

	box-shadow: none;

	z-index: 1;
}

.shadow {
	box-shadow: 0 1px 2px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 5%);
}

.filters .container {
	display: flex;
	justify-content: space-between;
}

.chips {
	display: flex;
	gap: 30px;
	overflow-x: hidden;

	/* For the fadeout divs Im not using anymore cuz they are pain in the ass to work with */
	/* position: relative; */

	scroll-behavior: smooth;
}

.chip {
	display: flex;
	flex-direction: column;

	justify-content: center;
	align-items: center;

	opacity: 0.7;
	transition: opacity 0.2s ease;

	cursor: pointer;
}

.active {
	opacity: 1;
	border-bottom: 2px solid black;
}

.chip img {
	max-width: 25px;
}

.chip p {
	margin: 10px 0 5px 0;
	text-align: center;
	font-size: 14px;
}

.chip:hover:not(.active) {
	border-bottom: 2px solid #dddddd;
	opacity: 1;
}

.chips-scrollLeft {
	display: flex;
	align-items: center;
	margin-top: -7px;

	margin-left: 7px;
}

.fa-angle-right {
	border: 1px solid gray;
	padding: 6px 10px;
	border-radius: 100%;
}

.chips-scrollRight {
	display: none;
	align-items: center;
	margin-top: -7px;

	margin-right: 7px;
}

.fa-angle-left {
	border: 1px solid gray;
	padding: 6px 10px;
	border-radius: 100%;
}

.fa-angle-right:hover,
.fa-angle-left:hover {
	cursor: pointer;
	transform: translateY(-1px);
	transition: box-shadow 0.2s ease;
	box-shadow: rgb(0 0 0 / 16%) 0 0 10px;
}

.arrow-and-filter-btn {
	display: flex;
	gap: 20px;
}

.filter-btn-div {
	display: flex;
	align-items: center;
	margin-top: -7px;
}

.filter-btn-div button {
	display: flex;
	gap: 8px;
	height: 50px;
	padding: 15px;
	background-color: inherit;
	border: 1px solid #dddddd;
	border-radius: 15px;
}

.filter-btn-div button:hover {
	cursor: pointer;
	transform: translateY(-1px);
	transition: box-shadow 0.2s ease;
	box-shadow: 0 1px 2px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 5%);
}

/* Fadeout Divs Im not using anymore but keeping them just in case */
/* Fadeouts Left */
/*
.fadeoutLeft {
	position: absolute;
	height: 100%;
	width: 7px;
	left: 0px;
	opacity: 1;
	background-color: white;
}

.fadeout-1 {
	left: 7px;
	opacity: 0.9;
}

.fadeout-2 {
	left: 14px;
	opacity: 0.8;
}

.fadeout-3 {
	left: 21px;
	opacity: 0.7;
}

.fadeout-4 {
	left: 28px;
	opacity: 0.6;
}

.fadeout-5 {
	left: 35px;
	opacity: 0.5;
}

.fadeout-6 {
	left: 42px;
	opacity: 0.4;
}

.fadeout-7 {
	left: 49px;
	opacity: 0.3;
}

.fadeout-8 {
	left: 56px;
	opacity: 0.2;
}

.fadeout-9 {
	left: 63px;
	opacity: 0.1;
}

.fadeout-10 {
	left: 70px;
	opacity: 0;
}
*/

/* Fadeouts Right*/
/*
.fadeoutRight {
	position: absolute;
	height: 100%;
	width: 7px;
	right: 0px;
	opacity: 1;
	background-color: white;
}

.fadeout1 {
	right: 7px;
	opacity: 0.9;
}

.fadeout2 {
	right: 14px;
	opacity: 0.8;
}

.fadeout3 {
	right: 21px;
	opacity: 0.7;
}

.fadeout4 {
	right: 28px;
	opacity: 0.6;
}

.fadeout5 {
	right: 35px;
	opacity: 0.5;
}

.fadeout6 {
	right: 42px;
	opacity: 0.4;
}

.fadeout7 {
	right: 49px;
	opacity: 0.3;
}

.fadeout8 {
	right: 56px;
	opacity: 0.2;
}

.fadeout9 {
	right: 63px;
	opacity: 0.1;
}

.fadeout10 {
	right: 70px;
	opacity: 0;
}
*/

@media (max-width: 500px) {
	.filter-btn-div {
		display: none;
	}

	.chips-scrollRight {
		display: flex;
	}
}
