@import url(./header.css);
@import url(./filter.css);
@import url(./main.css);
@import url(./footer.css);

body {
	margin: 0;
	padding: 0;
	font-family: "Montserrat", sans-serif;

	/* Hide scrollbar for IE, Edge, Firefox */
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
	display: none;
}

.container {
	height: 100%;
	width: 85%;
	max-width: 1660px;
	margin: auto;

	display: flex;
	overflow: hidden;
}
